/*
 * Copyright (c) 2020 The ZMK Contributors
 *
 * SPDX-License-Identifier: MIT
 */

#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>
#include <dt-bindings/zmk/bt.h>
#include <dt-bindings/zmk/rgb.h>

#define DEFAULT 0
#define NUM_SYM 1
#define NAV     2

/ {
	behaviors {
		rst: boot_reset
		{
			compatible = "zmk,behavior-hold-tap";
			label = "Bootloader Tap - Reset Hold";
			#binding-cells = <2>;
			tapping_term_ms = <200>;
            flavor = "balanced";
			bindings = <&sys_reset>, <&bootloader>;
        };

        bh: layer_taps
		{
			compatible = "zmk,behavior-hold-tap";
			label = "Layer-Tap";
			#binding-cells = <2>;
			tapping_term_ms = <215>;
            flavor = "tap-preferred";
			bindings = <&mo>, <&kp>;
        };

        com_col: comma_semicolon
		{
		 	compatible = "zmk,behavior-hold-tap";
	     	label = "Tap comma_hold colon";
			#binding-cells = <2>;
			tapping_term_ms = <150>;
            flavor = "balanced";
		 	bindings = <&kp>, <&kp>;
	    };
   	 };
};

/ {
	combos {
		compatible = "zmk,combos";
		combo_backspce {
			timeout-ms = <50>;
			key-positions = <8 9>;
			bindings = <&kp BSPC>;
		};
		combo_gesc
		{
			timeout-ms = <30>;
			key-positions = <0 1>;
			bindings = <&com_col GRAVE ESC>;
		};
		combo_tab
		{
			timeout-ms = <35>;
			key-positions = <11 12>;
			bindings = <&kp TAB>;
		};
		combo_mnxt
		{
			timeout-ms = <30>;
			key-positions = <28 29>;
			bindings = <&kp C_NEXT>;
		};
		combo_mprev
		{
			timeout-ms = <30>;
			key-positions = <27 28>;
			bindings = <&kp C_PREV>;
		};
		combo_mpp
		{
			timeout-ms = <30>;
			key-positions = <27 29>;
			bindings = <&kp C_PP>;
		};
		combo_del
		{
			timeout-ms = <40>;
			key-positions = <7 8 9>;
			bindings = <&kp DEL>;
		};
		combo_ent
		{
			timeout-ms = <30>;
			key-positions = <17 18>;
			bindings = <&kp RET>;
		};
		combo_ent2
		{
			timeout-ms = <30>;
			key-positions = <2 3>;
			bindings = <&kp RET>;
		};
	};
};

/ {
    keymap
	{
    compatible = "zmk,keymap";

    default_layer {
            bindings = <
    &kp Q &kp W &kp F &kp P &kp B &kp J &kp L &kp U &kp Y &kp SEMI
    &kp A &kp R &kp S &kp T &kp G &kp K &kp N &kp E &kp I &kp O
    &kp Z &kp X &kp C &kp D &kp V &kp H &kp M &kp COMMA &kp DOT &kp FSLH
    &bh 2 ESC &mt LGUI RET &bh 1 SPACE &mt RCTRL TAB
            >;
        };

    num_sym {
            bindings = <
    &kp N1 &kp N2 &kp N3 &kp N4 &kp N5 &kp N6 &kp N7 &kp N8 &kp N9 &kp N0
    &kp EXCL &kp AT &kp POUND &mt LSHFT DLLR &kp PRCNT &kp CARET &kp AMPS &kp STAR &kp EQUAL &kp MINUS
    &none &trans &trans &trans &trans &kp KP_MINUS &kp RPAR &kp RBKT &kp DOT &kp BSLH
    &trans &kp N0 &trans &trans
            >;
        };

    nav {
            bindings = <
    &bt BT_SEL_CMD 0 &bt BT_SEL_CMD 1 &bt BT_SEL_CMD 2 &bt BT_SEL_CMD 3 &none &none &kp PG_UP &kp UP &none &kp BSPC
    &trans &trans &trans &trans &none &kp HOME &kp LEFT &kp DOWN &kp RIGHT &kp END
    &rgb_ug RGB_TOG &rgb_ug RGB_EFF &none &none &none &kp PG_DN &none &kp GRAVE &kp BSLH &kp FSLH
    &bt BT_CLR &trans &kp C_PREV &kp C_PP
            >;
        };
    };
};
